btn-warning {
    background-color: #f47521;
}

* {
    margin: 0;
}

.logo {
    width: 230px;
}

body {
    background-color: #23252b;
    color: white;
}

.card-anime {
    width: 15em;
    height: 20em;
}
